<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="defaultStatementTimeout" value="3000"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="proxyFactory" value="CGLIB"/>
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="mysql"/>
            <!--改参数默认false-->
            <!--设置为true时,,会将RowBounds第一个参数offset当成pageNum页码使用-->
            <!--和startPage中的pageNum一样-->
            <property name="offsetAsPageNum" value="false"/>
            <!--改参数默认false-->
            <!--设置为true的时候,使用RowBounds分页进行count查询-->
            <property name="rowBoundsWithCount" value="false"/>
            <!--设置为true时，如果pageSize=0 或者RowBounds.limit=0 就会查询出全部结果-->
            <!--相当于没有执行分页查询，但是返回结果任然是Page类型-->
            <property name="pageSizeZero" value="true"/>
            <property name="reasonable" value="false"/>
            <property name="supportMethodsArguments" value="false"/>
            <property name="returnPageInfo" value="none"/>
        </plugin>
    </plugins>
</configuration>
